<html>
<head>
  <title>GitAnalysis</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/static/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/css/bootstrap-responsive.css'>
  <link rel='stylesheet' type='text/css' href='/static/css/nv.d3.css'>
  <link rel='stylesheet' type='text/css' href='/static/css/application.css'>
  <link rel='stylesheet' type='text/css' href='/static/css/author.css'>
  <script type='text/javascript' src='/static/js/jquery-1.10.2.js'></script>
  <script type='text/javascript' src='/static/js/bootstrap.js'></script>
  <script type='text/javascript' src='/static/js/underscore.js'></script>
  <script type='text/javascript' src='/static/js/d3.v2.js'></script>
  <script type='text/javascript' src='/static/js/nv.d3.js'></script>
  <script type='text/javascript' src='/static/js/author.js'></script>
  <script type='text/javascript' src='/static/js/directory_search.js'></script>
</head>
<body>
  {% include 'header.html' %}
  <div id='content' class='container'>
    {% block body %}{% endblock %}
  </div>
</body>
</html>
