<div id='stacked-chart'>
  <svg class='chart'></svg>
</div>

<script>
d3.json('/repo_classification.json', function(data) {
 nv.addGraph(function() {
   // TODO: hack. get rid of this global variable.
   stackedChart = nv.models.stackedAreaChart()
                 .x(function(d) { return d[0] })
                 .y(function(d) { return d[1] })
                 .clipEdge(true);
 
    stackedChart.xAxis
         .tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
 
    stackedChart.yAxis
         .tickFormat(d3.format(''));
 
    d3.select('#stacked-chart svg')
      .datum(data)
      .transition().duration(500).call(stackedChart);
 
    nv.utils.windowResize(stackedChart.update);

    return stackedChart;
  });
})
</script>
