<script>
//  var data = [[{x:0,y:1}, {x:2,y:4}], [{x:0,y:2}, {x:1,y:1}, {x:2,y:3}]],
  var data = {{ layers|safe }},
      stack = d3.layout.stack().offset("wiggle"),
      layers = stack(data),
      numSamples = layers[2].length;

  var width = 700,
      height = 400;
  
  var x = d3.scale.linear()
      .domain([0, numSamples - 1])
      .range([0, width]);
  
  var y = d3.scale.linear()
      .domain([0, d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); })])
      .range([height, 0]);
  
  var color = d3.scale.linear()
      .range(["#000", "#fff"]);
  
  var area = d3.svg.area()
      .x(function(point) { return x(point.x); })
      .y0(function(d) { return y(d.y0); })
      .y1(function(d) { return y(d.y0 + d.y); });
  
  var svg = d3.select('body').append('svg')
      .attr('width', width)
      .attr('height', height);
  
  svg.selectAll('path')
      .data(layers)
    .enter().append('path')
      .attr('d', area)
      .style('fill', function(val, b) { console.log(b); return color(Math.random()); });
</script>
